<footer class="container-fluid bg-light p-4">

  <div class="container text-center text-muted">

    <div class="p-2 alert alert-info" role="alert">
      <small class="font-weight-light">
        This site uses cookies to improve the user experience. By using it, you accept our <a href="https://www.unibo.it/en/university/privacy-policy-and-legal-notes/privacy-policy/general-information-on-the-processing-of-personal-data-in-the-university-portal-system-websites" target="_blank">use of cookies</a>.
      </small>
    </div>

    <small class="font-weight-light">
      &copy; Copyright 2020 - ALMA MATER STUDIORUM - Università di Bologna
    </small>

  </div>

  <script>
    $('.carousel').carousel({
      interval: 6000
    })
  </script>

</footer>