<header>
  <h1>
    <a class="text-decoration-none" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </h1>
  <nav>
    {% include navigation.html navigation=site.data.navigation %}
  </nav>
</header>

<section id="slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">			
    <div class="carousel-inner">
      <div class="item" style="background-image: url(assets/images/slide03.jpg)">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7 pull-right text-right">
              <h1>BOPL 2020</h1>
              <h1>
              <p>Bologna</p>
              <p>7-9 September 2020</p></h1>
            </div>
          </div>
        </div>					
      </div>
      <div class="item active" style="background-image: url(assets/images/slide03.jpg)">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">
              <h1>BOPL 2020</h1>
              <h1>
              <p>30th International Symposium on Logic-Based Program Synthesis and Transformation</p></h1>
            </div>
          </div>
        </div>					
      </div>
      <div class="item" style="background-image: url(assets/images/slide03.jpg)">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7 pull-right text-right">
              <h1>BOPL 2020</h1>
              <h1>
                <p>Bologna</p>
                <p>7-9 September 2020</p></h1>
            </div>
          </div>
        </div>					
      </div>

      <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>		
  </div> <!--/#home-carousel--> 
</section>
