<header>

  <h1>
    <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </h1>

  <nav>
    {% include navigation.html navigation=site.data.navigation %}
  </nav>
  
</header>

<div class="carousel slide p-0 m-0" data-ride="carousel" style="height: 450px; background-color: #1d2534;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-100" src="https://source.unsplash.com/9ndxwqoZNj4/1440x450">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="https://source.unsplash.com/vXpcpTl2Tt4/1440x450">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="https://source.unsplash.com/EdpbTj3Br-Y/1440x450">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="https://source.unsplash.com/Vwd-zcKsHLg/1440x450">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="https://source.unsplash.com/K_4rohqsmR0/1440x450">
    </div>
  </div>
</div>

<script>
  $('.carousel').carousel()
</script>
