<header class="bg-dark">

  <nav class="navbar navbar-expand-md navbar-dark px-5 py-3">

    <a class="text-warning navbar-brand d-flex w-50 mb-0 mr-auto h1 font-weight-light" href="{{ "/" | relative_url }}">
    {{ site.title | escape }}
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 mt-md-3 text-right" id="navbarSupportedContent">
      {% include navigation.html navigation=site.data.navigation %}
    </div>

  </nav>

  <div id="home-carousel" class="carousel slide vh-50 p-2 d-none d-md-block " data-ride="carousel">
    <div class="carousel-inner">
      {% for item in site.data.slider %}
      <div class="carousel-item {% if item.url contains 6 %}active{% endif %}">
        <img class="rounded mx-auto d-block img-fluid" src="{{ item.url }}" style="max-height: 450px;">

        <div class="carousel-caption p-3 mb-2 bg-dark text-white ml-auto mr-0 rounded text-right" style="width: 65%;">
          {{ item.text }}
        </div>
      </div>
      {% endfor %}
      
      <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

</header>
