{% assign gold = site.data.sponsors | where: "tier", "gold" %}
{% assign silver = site.data.sponsors | where: "tier", "silver" %}
{% assign bronze = site.data.sponsors | where: "tier", "bronze" %}

{% if gold.size > 0 %}
<div class="card">
  <div class="card-header">
    Gold Sponsors
  </div>
  <div class="card-body">
{% for sponsor in gold %}
    <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="gold sponsor logo">
    <a href="{{ sponsor.link }}" class="card-link">{{ sponsor.name }}</a>
{% endfor %}
  </div>
</div>
{% endif %}

{% if silver.size > 0 %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Silver Sponsors</h5>
{% for sponsor in silver %}
<a href="{{ sponsor.link }}"><img class="col-12" src="{{ site.url }}/assets/images/sponsors/{{ sponsor.image }}" alt="silver sponsor logo"></a>
<a href="{{ sponsor.link }}"><small>{{ sponsor.name }}</small></a>
{% endfor %}
  </div>
</div>
{% endif %}

{% if bronze.size > 0 %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bronze Sponsors</h5>
{% for sponsor in bronze %}
<a href="{{ sponsor.link }}"><img class="col-12" src="{{ site.url }}assets/images/sponsors/{{ sponsor.image }}" alt="bronze sponsor logo"></a>
<a href="{{ sponsor.link }}"><small>{{ sponsor.name }}</small></a>
{% endfor %}
  </div>
</div>
{% endif %}
