{% if page.intro_paragraph and page.intro_paragraph != '' %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Alert:</span>
  We are continuously monitoring the COVID-19 situation both from local authorities 
  and the World Health Organization. If necessary, alternative solutions, such as postponement 
  or remote presentations will be looked into and identified. 
  More info will be provided in the next weeks (before middle April).
</div>
{% endif %}
