{% assign gold = site.data.sponsors | where: "tier", "gold" %}
{% assign silver = site.data.sponsors | where: "tier", "silver" %}
{% assign bronze = site.data.sponsors | where: "tier", "bronze" %}

{% if gold.size > 0 %}
<div class="card">
  <div class="card-header" style="background-color:#ffd700;">
    Gold Sponsors
  </div>
  <div class="card-body text-center">
    {% for sponsor in gold %}
    <div class="col-md-5">
      <a href="{{ sponsor.link }}" class="text-reset">
        <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if silver.size > 0 %}
<div class="card">
  <div class="card-header" style="background-color:#c0c0c0;">
    Silver Sponsors
  </div>
  <div class="card-body text-center">
    {% for sponsor in silver %}
    <div class="col-md-5">
      <a href="{{ sponsor.link }}" class="text-reset">
        <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if bronze.size > 0 %}
<div class="card">
  <div class="card-header" style="background-color:#f4a460;">
    Bronze Sponsors
  </div>
  <div class="card-body text-center">
    {% for sponsor in bronze %}
    <div class="col-md-5">
      <a href="{{ sponsor.link }}" class="text-reset">
        <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}