{% assign gold = site.data.sponsors | where: "tier", "gold" %}
{% assign silver = site.data.sponsors | where: "tier", "silver" %}
{% assign bronze = site.data.sponsors | where: "tier", "bronze" %}

{% if gold.size > 0 %}
<div class="card">
  <div class="card-header">
    Gold Sponsors
  </div>
  <div class="card-body">
{% for sponsor in gold %}
    <a href="{{ sponsor.link }}" class="text-reset">
      <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
    </a>
{% endfor %}
  </div>
</div>
{% endif %}

{% if silver.size > 0 %}
<div class="card">
  <div class="card-header">
    Silver Sponsors
  </div>
  <div class="card-body">
{% for sponsor in silver %}
    <a href="{{ sponsor.link }}" class="text-reset">
      <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
    </a>
{% endfor %}
  </div>
</div>
{% endif %}

{% if bronze.size > 0 %}
<div class="card">
  <div class="card-header">
    Bronze Sponsors
  </div>
  <div class="card-body">
{% for sponsor in bronze %}
    <a href="{{ sponsor.link }}" class="text-reset">
      <img src="assets/images/sponsors/{{ sponsor.image }}" class="img-fluid" alt="">
    </a>
{% endfor %}
  </div>
</div>
{% endif %}
